:root{
    --main_font:'Montserrat';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    background: linear-gradient(90deg, #C1E3F5 0%, #E9EFE2 100%);
    min-height: 100vh;
}

.header h1{
    font-family: var(--main_font);
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.main_hero{
}

.container_form{
    background-color: #FFFF;
    width: 50%;
    margin: 0 auto;
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
}

.container_text{
}

.part_of_navigation{
    margin-bottom: 7px;
}

.text_over_input{
    font-family: var(--main_font);
    font-weight: 600;
    font-size: 20px;
    color: #2071B2
}

.navigation{
    font-weight: 400;
    font-size: 14px;
}

.main_information{
    display: flex;  
    justify-content:space-between;
}

.main_left_side{
}

.main_right_side{
}

.part_of_information{
    margin-bottom: 10px;
}

.input_text{
    border: 1px solid #888888;
    border-radius: 10px;
    padding: 10px 20px 10px 10px;
    font-size: 15px;
    display: block;
    width: 100%;
    font-family: var(--main_font);
    color: #105955;
    font-weight: 600;
    margin-top: 5px;
}

.scale_point{
}

.scale_title{
}

.list_of_scale{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.item_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.scale_line{
    padding-top: 10px;
}

.line_slider{
    width: 100%;
}

.comments{
}

.comment_input{
  width: 100%;
  min-height: 140px;
  padding: 18px 20px;
  border: 1px solid #888;
  border-radius: 12px;
  font-family: var(--main_font);
  font-size: 16px;
  display: block;
  resize: none;
  line-height: 1.4;
  vertical-align: top;
}

.footer_btn{
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 13px;
    height: 40px;
    font-size: 18px;
    color: #FFFF;
    background-color: #20B2AA;
    margin-top: 6px;
    font-family: var(--main_font);
    border-color: #FFFF;
    font-weight: 600;
}

@media(width>=1100px){
    .container_form{
        width: 533px;
    }
}